{% block css_files %} 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock css_files %}

<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
        
            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/faruk-derdiyok-b32b88193/" role="button">
                <i class="fa fa-linkedin"></i>
            </a>
        
            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/ofderdiyok" role="button">
                <i class="fa fa-github"></i>
            </a>
      
            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/ofderdiyok" role="button">
                <i class="fa fa-twitter"></i>
            </a>
  
            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/ofderdiyok/" role="button">
                <i class="fa fa-instagram"></i>
            </a>
  
        </section>  
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-light text-decoration-none" href="#">farukderdiyok.com</a>
    </div>
    <!-- Copyright -->
</footer>