{% load static %}

{% block css_files %} 
{% endblock css_files %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="{% url 'home' %}" class="navbar-brand">
          <h3 class="text-light">
            Faruk Derdiyok
          </h3>
        </a>
        <button class="navbar-toggler  collapsed" 
            type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample01" 
            aria-controls="navbarsExample01" aria-expanded="false" 
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarsExample01">
            <ul class="navbar-nav mr-auto mb-2">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'home'%}">Ana Sayfa</a>
                </li>
                {% for category in categories %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'blogs_by_category' category.slug %}">
                      {{ category.name|title }}
                    </a>
                  </li>
                {% endfor %}    
            </ul>
        </div>
    </div>
</nav>